@page "/encuesta/agradecimiento"
@model Unidad2.pages.encuesta.agradecimientoModel
@{
    Layout = "_Layout";
}

<h1>Encuesta de Satisfacción</h1>
<p>
    Muchas gracias por sus comentarios.<br />Nos ayudará a mejorar nuestro servicio.
</p>
<a href="#">
    <input type="button" value="CONTESTAR DE NUEVO" />
</a>