@page "/encuesta/index"
@model Unidad2.pages.encuesta.IndexModel
@{
    Layout = "_Layout";
}



<h1>Encuesta de Satisfacción</h1>
<a href="~/encuesta/encuesta">
    <input type="button" value="REALIZAR ENCUESTA" />
</a>
