@page "/conectar"
@model SumandoNumeros.pages.ConectarAPIModel
@{
}

<html>
<head>
    <title>Conectar una API</title>
</head>
<body>
    <h1>Lista de categorias</h1>

    <ul>
    </ul>

    <script>

        const ul = document.querySelector("ul");


        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js");


            const bc = new BroadcastChannel("datosActualizados");

            bc.addEventListener("message", function (event) {
                console.log(event.data.datos);
                for (let c of event.data.datos) {
                    let li = document.createElement("li");
                    li.textContent = c.nombre;
                    ul.append(li);
                }
            });
        }

        async function descargar() {

           try{
                let respuesta = await fetch("https://integracion.itesrc.net/api/categorias");
                if (respuesta.ok) {
                    let lista = await respuesta.json();

                    for (let c of lista) {
                        let li = document.createElement("li");
                        li.textContent = c.nombre;
                        ul.append(li);
                    }
                }
           }
           catch(error){
               console.log("Error al hacer fetch: "+error);
           }

        }

        descargar();
    </script>
</body>
</html>
