@page "/"
@model SumandoNumeros.pages.IndexModel
@{
}

<html>
<head>
    <title>Mi primer PWA</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="manifest" href="~/manifest.json" />
    <link rel="stylesheet" href="~/styles.css" />
</head>
<body>
    <header>Suma de Números PWA</header>

    <main>
        <form>
            <label>Número 1:</label>
            <input type="number" name="numero1" min="0" max="10000" />

            <label>Número 2:</label>
            <input type="number" name="numero2" min="0" max="10000" />

            <input type="button"  value="Sumar"/>

            <label>Resultado</label>
            <input type="text" readonly name="resultado" />
            <progress max="100" value="0"></progress><span>0 de 0</span>
        </form>
    </main>

    <script>

        let porcentaje = 0;
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js");
            const canal = new BroadcastChannel("progreso");

            canal.addEventListener("message", function(mensaje){
                progress.max = mensaje.data.total;
                progress.value = mensaje.data.avance;
                span.textContent = mensaje.data.avance + " de " + mensaje.data.total;
            });
        }


        const form = document.querySelector("FORM");
        const btn = document.querySelector("input[type=button]");
        const progress = document.querySelector("progress");
        const span = document.querySelector("span")



        btn.addEventListener("click", function () {
            form.elements.resultado.value = 
            Number(form.elements.numero1.value) + 
            Number(form.elements.numero2.value);
        });

        // async function descargar() {
        //     let response = await fetch("url");
        //     if (response.ok) {
        //         let data = response.json();
        //         console.log(data);
        //     }
        // };

        // function descargar2(){
        //     fetch("url").then(response => response.json().then(data => console.log(data)));
        // }

    </script>
</body>
</html>

