@page "/"
@model SumandoNumeros.pages.IndexModel
@{
}

<html>
<head>
    <title>Mi primer PWA</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="manifest" href="~/manifest.json" />
    <style>
        html,body{
            margin:auto;
            padding:0;
            width:100%;
            height:100%;
        }

        body{
            display:grid;
            grid-template-rows:50px 1fr;
        }

        header{
            background-color:crimson;
            text-align:center;
            color:white;
            font-weight:bolder;
            font-size:large;
            line-height:50px;
        }

        main{
            background-color:whitesmoke;
        }

        form{
            background-color:white;
            display:flex;
            flex-direction:column;
            width:300px;
            margin:auto;
            margin:20px auto;
            gap:10px;
            padding:20px;
            border:1px solid lightgray:
        }
    </style> 
</head>
<body>
    <header>Suma de Números PWA</header>

    <main>
        <form>
            <label>Número 1:</label>
            <input type="number" name="numero1" min="0" max="10000" />

            <label>Número 2:</label>
            <input type="number" name="numero2" min="0" max="10000" />

            <input type="button"  value="Sumar"/>

            <label>Resultado</label>
            <input type="text" readonly name="resultado" />
        </form>
    </main>

    <script>

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js");
        }


        const form = document.querySelector("FORM");
        const btn = document.querySelector("input[type=button]");

        btn.addEventListener("click", function () {
            form.elements.resultado.value = 
            Number(form.elements.numero1.value) + 
            Number(form.elements.numero2.value);
        });
    </script>
</body>
</html>

