@page "/login"
@model SumandoNumeros.pages.LoginModel
@{
}

<html>
<head>
    <title>Iniciar sesion</title>
</head>
<body>

    <h1>Iniciar sesion</h1>
    <label>Nombre de usuario:</label>
    <input type="text" />
    <br />
    <label>Contraseña:</label>
    <input type="password" />
    <br />

    <input type="button" value="Entrar"/>
</body>
</html>

