@page "/panes"
@model SumandoNumeros.pages.PanesModel
@{
}

<html>
<head>
    <title>Panaderia</title>
</head>
<body>

    <h1>Lista de panes</h1>

    <ul>
    </ul>


    <script src="~/seguridad.js"></script>

    <script>
        var i = descargarDatos();
    </script>
</body>
</html>

