@page "/"
@model ListaDeCompras.pages.CategoriasModel
@{
}

<html>
<head>
    <title>Lista de compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles/styles.css" />
</head>
<body>
    <header>
        <h1>Lista de compras</h1>
        <div class="toolbaritems">
            <a href="javascript:"><i id="btnEditar" class="fa fa-pencil"></i></a>
            <a href="javascript:"><i id="btnEliminar" class="fa fa-trash"></i></a>
        </div>
    </header>
    <main>
        <ol>
            @*   <li>Abarrotes</li>
            <li class="selected">Carnes frias</li>
            <li>Fruteria</li> *@
        </ol>

        <button class="fab"><i class="fa fa-plus"></i></button>
    </main>
    <nav>
        <a href="javascript:"><i class="fa fa-shopping-cart">Lista de compras</i></a>
        <a href="javascript:"><i class="fa fa-shopping-basket">Productos</i></a>
        <a href="javascript:"><i class="fa fa-list-ul">Categorias</i></a>
    </nav>

    <div class="modal">
        <form id="formAgregar" method="post" action="https://integracion.itesrc.net/api/categorias">
            <h1>Agregar categoria</h1>
            <label>Nombre de la categoria:</label>
            <input required name="nombre" type="text" />
            <p class="error"></p>
            <div class="botones">
                <input type="submit" value="Agregar" />
                <input type="button" value="Cancelar" />
            </div>
        </form>
    </div>

    <div class="modal">
        <form id="formEditar">
            <h1>Editar categoria</h1>
            <label>Nombre de la categoria:</label>
            <input type="text" />
            <p class="error">Un mensaje de error</p>
            <div class="botones">
                <input type="button" value="Guardar" />
                <input type="button" value="Cancelar" />
            </div>
        </form>
    </div>

    <div class="modal">
        <form id="formEliminar" method="post" action="https://integracion.itesrc.net/api/categorias">
            <h1>Eliminar categoria</h1>
            <input name="id" type="hidden" />
            <label>Nombre de la categoria:</label>
            <input type="text" name="nombre" readonly />
            <p class="error"></p>
            <div class="botones">
                <input type="submit" value="Si" />
                <input type="button" value="No" />
            </div>
        </form>
    </div>

    <script>
        const fab = document.querySelector(".fab");
        const formAgregar = document.querySelector("#formAgregar");
        const formEliminar = document.querySelector("#formEliminar");
        const lista = document.querySelector("main ol");
        var seleccionado = null;
        const tbi = document.querySelector(".toolbaritems");

        fab.addEventListener("click", function () {
            formAgregar.parentElement.classList.add("visible");
        });

        document.body.addEventListener("click", function (e) {
            if (e.target.tagName == "INPUT" && (e.target.value == "Cancelar" || e.target.value == "No")) {
                e.target.closest(".modal").classList.remove("visible");
                e.target.form.reset();
            }
        });

        //AJAX: Asynchronous Javascript and XML
        document.addEventListener("submit", async function (x) {
            let form = x.target;
            form.querySelector(".error").textContent = null;
            x.preventDefault();//Cancelo la ejecucuib sincrona
            console.log(form.id);
            if (form.id == formAgregar.id) {

                let objeto = { "nombre": form.elements.nombre.value };
                let reposnse = await fetch(form.action, {
                    method: form.method,
                    body: JSON.stringify(objeto),
                    headers: {
                        "content-type": "application/json"
                    }
                });

                if (reposnse.ok) //lo agrego
                {
                    form.parentElement.classList.remove("visible");
                    form.reset();
                    await actualizarLista();
                }
                else if (reposnse.status == 400) {
                    let text = await reposnse.text();
                    console.log(text);
                    form.querySelector(".error").textContent = text;
                }
                else {
                    console.log(reposnse);
                }

            }

            if (form.id == formEliminar.id) {    
                let response = await fetch(form.action + "/" + form.elements.id.value, {method:"delete"});

                if (response.ok) //lo agrego
                {
                    form.parentElement.classList.remove("visible");
                    form.reset();
                    seleccionado = null;
                    tbi.style.visibility = "hidden";
                    await actualizarLista();
                }
                else if (response.status == 400) {
                    let text = await reposnse.text();
                    console.log(text);
                    form.querySelector(".error").textContent = text;
                }
                else {
                    console.log(response);
                }
            }
        });


        async function actualizarLista() {
            console.log("se actualizara");
            let response = await fetch("https://integracion.itesrc.net/api/categorias");
            if (response.ok) {
                let categorias = await response.json();
                for (let i = lista.children.length; i < categorias.length; i++) {
                    lista.append(document.createElement("LI"));
                }
                for (let i = 0; i < categorias.length; i++) {
                    // console.log(lista.chidren[i]);
                    lista.children[i].textContent = categorias[i].nombre;
                    lista.children[i].dataset.id = categorias[i].id;
                }
            }
        }

        lista.addEventListener("click", function (e) {
            if (e.target.tagName == "LI") {
                if (seleccionado) {
                    seleccionado.classList.remove("selected");
                     tbi.style.visibility = "hidden";
                }
                if (seleccionado != e.target) {
                    seleccionado = e.target;
                    e.target.classList.add("selected");
                    tbi.style.visibility = "visible";
                }
                else{
                    seleccionado = null;
                }

            }
        });

        document.getElementById("btnEliminar").addEventListener("click", function () {
            
            formEliminar.parentElement.classList.add("visible");
            formEliminar.elements.nombre.value = seleccionado.textContent;
            formEliminar.elements.id.value = seleccionado.dataset.id;
        });
         
        actualizarLista();

    </script>

</body>
</html>