@page
@model ListaDeCompras.pages.ProductosModel
@{
    Layout = "_Layout";
    ViewData["NombrePagina"] = "Lista de productos";
}

<ol>
    <li class="categoria">Abarrotes</li>
    <li>
        <div class="producto">
            <img src="https://m.media-amazon.com/images/I/71tgjg3DjyL.__AC_SX300_SY300_QL70_ML2_.jpg" />
            <span>Lata de atún</span>
            <span>$18.00</span>
        </div>
    </li>

    <li>
        <div class="producto">
            <img src="https://m.media-amazon.com/images/I/71tgjg3DjyL.__AC_SX300_SY300_QL70_ML2_.jpg" />
            <span>Lata de atún</span>
            <span>$18.00</span>
        </div>
    </li>
    <li>
        <div class="producto">
            <img src="https://m.media-amazon.com/images/I/71tgjg3DjyL.__AC_SX300_SY300_QL70_ML2_.jpg" />
            <span>Lata de atún</span>
            <span>$18.00</span>
        </div>
    </li>
    <li>
        <div class="producto">
            <img src="https://m.media-amazon.com/images/I/71tgjg3DjyL.__AC_SX300_SY300_QL70_ML2_.jpg" />
            <span>Lata de atún</span>
            <span>$18.00</span>
        </div>
    </li>


    <li class="categoria">Tilin</li>
    <li>
        <div class="producto">
            <img src="https://m.media-amazon.com/images/I/71tgjg3DjyL.__AC_SX300_SY300_QL70_ML2_.jpg" />
            <span>Lata de atún</span>
            <span>$18.00</span>
        </div>
    </li>

</ol>


<button class="fab"><i class="fa fa-plus"></i></button>


<div class="modal" style="display:block">
    <form id="formAgregar" method="post" action="https://integracion.itesrc.net/api/productos">
        <h1>Agregar categoria</h1>
        <label>Nombre del producto:</label>
        <input required name="nombre" type="text" />

        <label>Precio:</label>
        <input name="precio" type="text" />

        <label>Fotografia</label>
        <img />
        <a href="javascript:">Tomar fotografia</a>


        <p class="error"></p>
        <div class="botones">
            <input type="submit" value="Agregar" />
            <input type="button" value="Cancelar" />
        </div>
    </form>
</div>

<div class="modal">
    <form id="formEditar" method="post" action="https://integracion.itesrc.net/api/productos">
        <h1>Modificar categoria</h1>
        <label>Nombre de la categoria:</label>
        <input name="id" type="hidden" />
        <input name="nombre" required type="text" />
        <p class="error"></p>
        <div class="botones">
            <input type="submit" value="Guardar" />
            <input type="button" value="Cancelar" />
        </div>
    </form>
</div>

<div class="modal">
    <form id="formEliminar" method="post" action="https://integracion.itesrc.net/api/productos">
        <h1>Eliminar categoria</h1>
        <input name="id" type="hidden" />
        <label>Nombre de la categoria:</label>
        <input type="text" name="nombre" readonly />
        <p class="error"></p>
        <div class="botones">
            <input type="submit" value="Si" />
            <input type="button" value="No" />
        </div>
    </form>
</div>