@page "/js10"
@model EjemploRazorPages.pages.javascript.Leccion10Model
@{
}

<html>
<head>
    <title>Lección 10</title>

    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

            table td, table th {
                border: 1px solid black;
                padding: 5px;
            }

            table th {
                background: black;
                color: white;
            }

            table td:last-of-type {
                text-align: center;
            }

        div {
            padding: 10px;
            text-align: center;
        }

        input[type=button], input[type=submit] {
            background: black;
            color: white;
            padding: 3px 10px;
        }

        div.modal { /*overlay*/
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            display: none;
        }

            div.modal form {
                background: white;
                border: 1px solid black;
                width: 500px;
                padding: 20px;
                margin: 20px auto;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

                div.modal form input[type=text], div.modal form p {
                    width: 100%;
                }

                div.modal form input {
                    width: calc(50%-5px);
                }


        table td:last-of-type {
            position: relative;
        }

            table td:last-of-type .contextMenu {
                display: block;
            }

        .contextMenu {
            display: none;
            border: 1px solid black;
            padding: 5px;
            width: 150px;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: lightgray;
        }

            .contextMenu a {
                display: block;
                text-decoration: none;
                color: black;
                text-align: left;
            }

                .contextMenu a:hover {
                    background-color: antiquewhite;
                    cursor: -moz-zoom-in;
                }

    </style>
</head>
<body>
    <h1 id="titulo">Lección 10: CRUD con ventanas modales</h1>

    <div>
        <input type="button" value="Nuevo" id="btnNuevo" />
    </div>

    <table>
        <thead>
            <tr>
                <th>Núm.Control</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>191G0235</td>
                <td>Carlos Cuautle Zacamitzin</td>
                <td>
                    &vellip;
                </td>
            </tr>

            <tr>
                <td>191G0235</td>
                <td>Carlos Cuautle Zacamitzin</td>
                <td>
                    &vellip;
                    @* <nav class="contextMenu">
                    <a href="javascript:">Editar</a>
                    <a href="javascript:">Eliminar</a>
                    </nav>*@
                </td>
            </tr>
        </tbody>
    </table>

    <nav class="contextMenu">
        <a href="javascript:">Editar</a>
        <a href="javascript:">Eliminar</a>
    </nav>

    <div class="modal">
        <form class="formAgregar">
            <input name="numControl" type="text" placeholder="Número de control" required pattern="\d{2}1[A-Z][EC0DM]\d{3}" />
            <input name="nombre" type="text" placeholder="Nombre" required />
            <input type="submit" value="Agregar" />
            <input type="button" value="Cancelar" />

        </form>
    </div>

    <div class="modal">
        <form class="formEditar">
            <input name="numControl" type="text" placeholder="Número de control" required pattern="\d{2}1[A-Z][EC0DM]\d{3}" />
            <input name="nombre" type="text" placeholder="Nombre" required />
            <input type="submit" value="Guardar" />
            <input type="button" value="Cancelar" />
        </form>
    </div>

    <div class="modal">
        <form class="formEliminar">
            <p>¿Desea eliminar?</p>
            <input type="submit" value="Si" />
            <input type="button" value="No" />

        </form>
    </div>

    <script>

        var formAgregar = document.querySelector(".formAgregar");
        var tabla = document.querySelector("table tbody");
        var contextMenu = document.querySelector(".contextMenu");
        var formEliminar = document.querySelector(".formEliminar");
        var formEditar = document.querySelector(".formEditar");
        var rowSeleccionado;

        //un modal esta hecho por dos partes, un overlay, que es para ocultar lo de atras y mostrar el modal
        document.getElementById("btnNuevo").addEventListener("click", function () {
            formAgregar.parentElement.style.display = "block";
        });


        //En js todoso los nombres de las etiquetas son en mayusculas
        document.body.addEventListener("click", function (e) {
            if (e.target.tagName == "INPUT" && (e.target.value == "Cancelar" || e.target.value == "No")) {
                e.stopPropagation();
                e.target.form.reset();
                e.target.form.parentElement.style.display = "none";
            }

            else if (e.target.tagName == "TD" && e.target.parentElement.lastElementChild == e.target) {
                e.stopPropagation();
                e.target.append(contextMenu);
                return;
            }

            if (e.target != contextMenu) {
                document.body.append(contextMenu);
            }

        });

        document.addEventListener("submit", function (ev) {
            ev.preventDefault();

            let form = ev.target;
            if (form.classList.contains("formAgregar")) {
                let tr = tabla.insertRow();
                tr.insertCell().textContent = form.elements.numControl.value;
                tr.insertCell().textContent = form.elements.nombre.value;
                tr.insertCell().innerHTML = "&vellip;";
                form.reset();
                form.parentElement.style.display = "none";
            }
            //Asi es valido
            else if (form.classList.contains("formEliminar")){
                if(rowSeleccionado){
                    rowSeleccionado.remove();
                    rowSeleccionado = null;
                    formEliminar.parentElement.style.display = "none";
                }
            }
            //Asi es valido tambien
            else if (form == formEditar) {
                if (rowSeleccionado) {
                    
                    rowSeleccionado.cells[0].textContent = form.elements.numControl.value;
                    rowSeleccionado.cells[1].textContent = form.elements.nombre.value;

                    rowSeleccionado = null;
                    form.reset();
                    formEditar.parentElement.style.display = "none";
                }
            }
        });


        contextMenu.addEventListener("click", function (e) {

            let form = 
            e.target.textContent == "Eliminar"?formEliminar:
            e.target.textContent=="Editar"?formEditar:null;

            //if (e.target.textContent == "Eliminar") {

            //    //Busca de hijos hasta padres que cumplan con ese criterio, en este caso que sea un tr
            //    rowSeleccionado = e.target.closest("tr");
            //    formEliminar.parentElement.style.display = "block";
            //    return
            //}
            // if (e.target.textContent == "Editar") {

            //    //Busca de hijos hasta padres que cumplan con ese criterio, en este caso que sea un tr
            //    rowSeleccionado = e.target.closest("tr");
            //    formEditar.parentElement.style.display = "block";
            //    return
            //}

            //console.log(form);
            if(form){
                rowSeleccionado = e.target.closest("tr");

                if(form==formEditar){
                    form.elements.numControl.value = rowSeleccionado.cells[0].textContent;
                    form.elements.nombre.value = rowSeleccionado.cells[1].textContent;
                }

                form.parentElement.style.display = "block";
            }
        });

    </script>

</body>
</html>


