@page 
@model EjemploRazorPages.pages.javascript.Leccion1Model
@{
}

@*ECMAScritp*@

<html>
    <head>
        <title>Lección 1</title>
    </head>
    <body>
        <h1>Lección 1</h1>
        <h2>Variables, tipos de datos, sintaxis</h2>



    </body>
</html>
