@page "/js2"
@model EjemploRazorPages.pages.javascript.Leccion2Model
@{
}

<html>
    <head>
        <title>Lección 2</title>
    </head>
    <body>
        <h1>Lección 2. Objetos (DOM) y eventos</h1>
        <form>
            <input id="btnPresioname" type="button" value="Presioname"/>
            <input type="button" value="Cambiar Color"/>
        </form>

        <script>
           let obj= document.querySelector("h1");
           obj.textContent="Hola";
           obj.style.color="red";

        let btn = document.getElementById("btnPresioname");
        btn.style.backgroundColor = "yellow";

        //Los elementos que me permiten seleccionar el dom son  5, 
        //querySelector --- este regresa el primero que encuentra
        //querySelectorAll---este regresa un arreglo
        //getElementById ---regresa el elemento que contenga ese id, si hay mas de uno, da error
        //getElementByTagName-----regresa todos los elementos que tengan ese nombre
        //getElementByTagName----regresa todos los elementos que contengan esas etiquetas
        </script>

    </body>
</html>
