@page "/js"
@model EjemploRazorPages.pages.javascript.Leccion1Model
@{
}

@*ECMAScritp*@

<html>
    <head>
        <title>Lección 1</title>
    </head>
    <body>
        <h1>Lección 1</h1>
        <h2>Variables, tipos de datos, sintaxis</h2>


        @*si queremos que se ejecute de inmediato, lo ponemos en body, sino en head*@


        <script>
            alert("Hola Mundo!");

            //Tipos de datos
            //numeric, boolean, text, object 


            //numeric
            let x = 15;

            //string
            let y = "hola";

            //bool
            y=false;

            //json
            let z = {nombre:"juan",edad:"20"};


        </script>
    </body>
</html>
