<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'], 'language': 'es' });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Año', 'Ventas', 'Gastos', 'Ganancias'],
                ['2014', 1000, 400, 200],
                ['2015', 1170, 460, 250],
                ['2016', 660, 1120, 300],
                ['2017', 1030, 540, 350]
            ]);

            var options = {
                chart: {
                    title: 'Rendimiento de la compañia',
                    subtitle: 'Ventas, Gastos y Ganancias: 2014-2017',
                },
                bars: 'horizontal'
            };

            var chart = new google.charts.Bar(document.getElementById('chart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
    <link href="~/styles/ejercicio2.css" rel="stylesheet" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>