html,body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:grid;
    grid-template-rows:50px 1fr 100px;
}

header{
    display:flex;
    justify-content:space-between;
    background-color:darkblue;
    /*box-shadow:1px 1px 3px black;*/
    /*filter:drop-shadow(1px,1px,3px,black);*/
    position:sticky;
    top:0;
    z-index:1;
    

}

header h1{
    margin:5px;
    padding:0px;
    color:white;
    font-weight:lighter;
    align-self:center;
}

header .toolbaritems{
    margin:5px 20px;
    display:flex;
    gap:10px;
    visibility :hidden;
}
header a{
    color:white; 
    align-self:center;
    font-size:large;
}

nav{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:darkblue;
    color:white;
    justify-items:center;
    align-items:center;
}

    nav a {
        text-decoration: none;
        width: 100%;
        height: 100%;

        color: white;
        font-size: large;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

nav a .fa{
    /*display:block;
    text-align:center;
    font-size:larger;
    margin-bottom:5px;*/
    font-size:1.3em;
}

ol{
    margin:0;
    padding:0;
    /*background-color:red;*/
    height:100%;
    list-style:none; 
}
li{
    font-size:1.2em;
    padding:10px;
    border-bottom:1px inset lightgray;
    cursor:pointer;

}

ol li.selected{
    background-color:lightsteelblue;
}

.producto{
    display:grid;
    grid-template-columns:70px 1fr;
    grid-template-rows:1fr 1fr;
}

.producto img{
    max-width:50px;
    grid-row:span 2;
}

.producto span:first-of-type{
    font-weight:bold;
}

.categoria{
    background-color:gainsboro;
    font-weight:bold;
}

main{
    position:relative;
    overflow:auto;
}

.fab{
    position:fixed;
    bottom:110px;
    right:20px;
    padding:10px;
    background-color:blueviolet;
    color:white;
    font-size:2em;
    border-radius:50%;
    box-shadow:2px 2px 4px black;
    width:60px;
    height:60px;
}

.modal, .modalEliminar {
    width: calc(100%-20px);
    max-width:600px;
    height: 90%;
    position: fixed;
    top: 51px;
    /*left: 100%;*/
    right:-100%;
    z-index: 10;
    background: white;
    padding: 10px;
    transition:.2S all ease-in-out;
}

@keyframes animation1{
    0% {
        outline: 0 solid #00000050;
    }
    100% {
        outline: 10000px solid #00000050;
        right:0;
    }
}

    .modal.visible, .modal.modalEliminar.visible {
       animation: animation1 1s both;
    }

.modal>label, .modal>input, .modalEliminar>label, .modalEliminar input{
    display:block;
}

.modal label, .modalEliminar label{
    font-weight:bold;
    margin-bottom:5px;
}

.modal p.error, .modalEliminar p.error{
    text-align:center;
    padding:10px;
    color:red;
    font-size:small;
}

.modal .botones, .modalEliminar .botones{
    position:absolute;
    width:100%;
    bottom:10px;
    right:10px;
    text-align:right;

}

.modal .botones input, .modalEliminar .botones input{
    display:inline-block;
    padding:10px 30px;
    width:auto;
    background-color:darkblue;
    color:white;
    border:none;
}


